* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.drpmenu {
    background-color: #3b2a19;
    ;

    a {
        color: white;
        font-family: "Quattrocento Sans";

    }
}

header {
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 0px;

    a {
        color: white;
        transition: 0.5s;
        position: relative;
        font-size: 12px;
        font-weight: 500;

        &:hover {
            color: $color-gold;

            &::after {
                opacity: 1;
                transition: 1s;
                width: 100%;
            }
        }

        &::after {
            content: "";
            height: 2px;
            position: absolute;
            width: 0;
            background-color: $color-gold;
            left: 0;
            bottom: 0;
            opacity: 0;
        }
    }

    img {
        max-width: 100%;
    }

    .navbar-light .navbar-nav .nav-link {
        color: $color-white;
        font-size: 17px;
        margin-right: 20px;
        font-family: Marcellus;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        &:hover {
            color: white;
        }
    }

    nav {
        width: 98%;
        height: auto;
        margin: auto;

        .icon {
            cursor: pointer;
        }

        .collapseDiv {
            justify-content: flex-end;

        }

        .icon {
            margin: 0px 20px;
            color: $color-white;

        }
    }
}

.fa-solid {
    margin: 0px 10px;
}


@media screen and (max-width:991px) {
    header {
        .navbar {
            background-color: #3b2a19;
        }

        .navbar-light .navbar-nav .nav-link {
            color: $color-gold;
            font-size: 15px;
            margin-top: 20px;
        }

        nav .icon {
            display: none;
        }

        .navbar-toggler-icon {
            border: none;
            color: $color-gold;
        }

        img {
            width: 200px;
            filter: grayscale(450px);
        }

    }
}

#caruselSec {
    height: auto;

    .corItem {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .caruselItemtext {
            color: white;
            font-family: "Cormorant Garamond";
            position: absolute;

            h1 {
                font-size: 60px;
            }

            p {
                font-size: 25px;
            }


            button {
                cursor: pointer;
                padding: 15px 30px;
                border-radius: 30px;
                border: none;
                margin-top: 30px;
                background-color: #E6A347;
                color: white;

                &:hover {
                    background-color: #9FA753;
                }
            }
        }
    }

}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.caruselItemtext>* {
    animation: slideInFromLeft 0.9s ease-in;
}

.caruselItemtext>*:nth-child(2) {
    animation-delay: 0.9s;
}

.caruselItemtext>*:nth-child(2) {
    animation-delay: 0.9s;
}

.caruselItemtext>*:nth-child(2) {
    animation-delay: 0.4s;
}


@keyframes leftRight {
    40% {
        transform: translate(50px, 0) scale(.7);
        opacity: 1;
        color: #E6A347;
    }

    60% {
        color: #9FA753;
    }

    80% {
        transform: translate(0) scale(2);
        opacity: 0;
    }

    100% {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}


#coffeCulture {
    height: auto;
    padding: 30px 0px;
    background-image: url('https://caffee.deliciosa.themerex.net/wp-content/uploads/2023/02/main-bg-pattern.png');

    img {
        max-width: 100%;
    }

    .coffegame {

        img {
            margin: 20px 0px;
        }

        span {
            font-weight: 700;
            font-size: 18px;
            color: #86996c;
            font-family: "Quattrocento Sans";
            letter-spacing: 1.8px;
            margin: 30px;
        }

        p {
            font-weight: 500;
            font-size: 57.001px;
            color: #d75732;
            font-family: "Cormorant Garamond";
            margin: 30px;
        }
    }

    .coffegameone {
        img {
            margin-top: 20px;
            margin-bottom: 30px;
            padding-bottom: 30px;
        }

        p {
            margin-top: 30px;
            padding-top: 30px;
            font-weight: 400;
            font-size: 27px;
            margin-left: 30px;
            color: #442916;
            font-family: "Quattrocento Sans";
        }
    }
}

#perfectCoffe {
    padding: 30px 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://caffee.deliciosa.themerex.net/wp-content/uploads/2023/02/new-img-02.jpg') center/cover no-repeat fixed;
    text-align: center;

    .craft {
        height: 400px;
        margin: 30px 0px;
        padding: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    span {
        margin-top: 30px;
        padding-top: 30px;
        font-weight: 700;
        font-size: 13px;
        color: #f9f7f7;
        font-family: "Quattrocento Sans";
        letter-spacing: 1.8px;
    }

    h1 {
        font-weight: 500;
        font-size: 50.001px;
        color: #f9f7f7;
        font-family: "Cormorant Garamond";
        width: 80%;
    }

    p {
        padding-bottom: 30px;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 15px;
        color: #cfc8b8;
        font-family: "Quattrocento Sans";
        letter-spacing: 0
    }
}


.drinkCoffe {
   
    overflow: hidden;
    margin: 0 auto;
}

.drinkCoffe img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.drinkCoffe:hover img {
    transform: scale(1.2);
}

#ourCoffe {

    height: auto;
    padding: 20px 15px;

    img {
        visibility: visible;
        max-width: 100%;
    }

    .headTxt {
        text-align: center;

        p {
            font-weight: 700;
            font-size: 18px;
            color: #86996c;
            font-family: "Quattrocento Sans";
            letter-spacing: 1.8px;
            margin: 30px;
        }

        h3 {
            font-weight: 500;
            font-size: 57.001px;

            font-family: "Cormorant Garamond";
            margin: 30px;
        }
    }

    .col-12 {
        padding: 9px;
    }

    .drinkCoffe {
        position: relative;
        display: flex;
        align-items: end;
        justify-content: start;
        visibility: hidden;

        &:hover {
            visibility: visible;
        }

        .coffeType {
            position: absolute;
            padding: 3px 15px;
            margin: 0px 0px 10px 10px;
            background-color: white;
            cursor: pointer;
            opacity: 1;
            transform: scale(1);

            h5 {
                color: #D75732;
                font-family: "Quattrocento Sans";
                padding: 0;
                font-weight: 500;
                margin-bottom: 5px;
                text-decoration: none;
                list-style: none;
            }

            p {
                padding: 0;
                margin: 0;
                font-family: "Quattrocento Sans";
            }
        }
    }
}


#perfection {

    text-align: center;

    img {
        max-width: 100%;
        margin-bottom: 10px;
    }

    span {
        font-weight: 700;
        font-size: 16px;
        color: #e2562d;
        font-family: "Quattrocento Sans";
        letter-spacing: 1.8px;
        margin: 30px 0px;
        padding: 30px 0px;
    }

    p {
        font-weight: 500;
        font-size: 47.005px;
        color: #f9f7f7;
        font-family: "Cormorant Garamond";
        margin: 30px 0px;
        padding: 30px 0px;
    }


}

#menu {
    height: auto;
    padding: 30px 0px;
    background: url('/assets/img/h2-box-background2.jpg') center/cover no-repeat fixed;

    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menuCost {
        display: flex;
        align-items: center;
    }

    .ourMenu {

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .exploreMenu {
        text-align: center;
        margin-bottom: 30px;

        h1 {
            padding: 10px 0px;
            color: $color-gold;
            font-family: "Cormorant Garamond";
        }
    }

    img {
        cursor: pointer;
        max-width: 100%;
    }

    .menuItem {
        margin-bottom: 15px;
        margin-left: 15px;

        span {
            font-size: 22px;
            font-weight: 400;
            color: #262626;
            font-family: Marcellus;
        }

        p {
            font-weight: 300;
            color: #262626;
            font-family: "Open Sans";

        }
    }

    .dashed {
        height: 3px;
        border-bottom: 1px dashed #939393;
        display: table-cell;
        width: 95%;
        z-index: 1;
        position: relative;
        top: 9px;
        margin-left: 20px;

    }
}


@media screen and (max-width:991px) {
    #menu {
        .ourMenu {
            img {
                max-width: 100%;
                display: none;
            }
        }
    }
}

#shef {
    padding: 30px 0px;
    margin: 30px 0px;

    .headTextShef {
        text-align: center;
        padding: 30px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-family: "Bebas Neue";
            font-size: 40px;
            margin: 30px;
        }

        p {
            width: 35%;
            font-family: Jost;
            font-size: 14px;
            letter-spacing: 0.04em;
            border-radius: 10px 0px 10px 0px;
            padding: 5px 8px;
            color: white;
            background-color: $color-gold;
        }
    }

    .rectangel {
        padding: 20px 20px 30px;
        border: 1px solid rgb(223, 217, 217);
        border-radius: 10px;
        position: relative;
        margin-bottom: 10px;

        img {
            cursor: pointer;
            max-width: 100%;
            border-radius: 60px 60px 60px 0px;
            padding: 0px 10px;
            transition: all 0.3s ease-out 0s;

            &:hover {
                border-radius: 0px 60px 60px 60px;
            }
        }

        h4 {
            margin-top: 20px;
            font-size: 18px;
            font-family: Jost;
        }

        p {
            color: #c7a17a;
            font-family: Jost;
            font-size: 14px;
        }

    }

    .plas {
        visibility: hidden;

        &:hover {
            visibility: visible;
        }
    }

    ul {
        position: absolute;
        top: 70px;
        right: 35px;
        font-size: 14px;
        color: grey;
    }

    li {

        padding: 9px 15px;
        margin: 5px 0px 5px;
        border-radius: 7px;
        background-color: white;
        cursor: pointer;
        border: none;

        &:hover {
            background-color: #C7A17A;
            color: white;
        }

    }

    button {
        position: absolute;
        top: 30px;
        right: 35px;
        font-size: 14px;
        color: grey;
        padding: 9px 7px;
        border-radius: 7px;
        background-color: white;
        cursor: pointer;
        border: none;
        visibility: visible;

        &:hover {
            background-color: #C7A17A;
            color: white;
        }

    }
}

#bean {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
    padding: 30px 0px;

    img {

        cursor: pointer;
    }

    .coffebeanitem {

        font-family: Lato;

        p a {
            padding: 0;
            margin: 0;
            color: white;

            &:hover {
                text-decoration: none;
            }
        }

        span {
            color: rgb(185, 176, 176);
        }
    }

    .coffeBean,
    .coffeBeanone,
    .coffeBeantwo {
        cursor: pointer;
        width: 250px;
        margin-left: 15px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all .9s ease-in-out;

        &:hover {
            transform: rotate(1turn);
        }
    }

    .coffeBean {
        margin-bottom: 10px;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://caffee.deliciosa.themerex.net/wp-content/uploads/2023/03/image-356-840x1260.jpg') center/cover no-repeat;
    }

    .coffeBeanone {
        margin-bottom: 10px;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://caffee.deliciosa.themerex.net/wp-content/uploads/2020/04/image-181-840x1260.jpg') center/cover no-repeat;
    }

    .coffeBeantwo {
        margin-bottom: 10px;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://caffee.deliciosa.themerex.net/wp-content/uploads/2020/04/image-177-840x560.jpg') center/cover no-repeat;
    }
}

footer {
    padding: 30px 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://caffee.deliciosa.themerex.net/wp-content/uploads/2020/05/new-bg-footer.jpg') center/cover no-repeat;

    img {
        max-width: 100%;
    }

    .theme {
        color: #E6A347;
        margin-left: 20px;
    }

    .reserv {
        color: white;
    }

    .iconss {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            color: black;
            border: 1px solid gray;
            border-radius: 50%;
            padding: 15px;
            color: white;
            margin-right: 5px;
        }
    }
}

#contactUs {

    button {
        transition: all .15s;
        outline: none;
        overflow: hidden;
        font-size: 19px;
        font-family: 'Pacifico';
        overflow: visible;
        border-radius: 3px;
        position: relative;
        padding: 8px 30px;
        background-color: #E6A347;
        border: 2px solid #E6A347;
        border-radius: 30px;
        color: rgb(158, 65, 65);
        display: block;
        cursor: pointer;
        font-style: italic;

        &:hover {
            background-color: #9FA753;
            border: 2px solid #9FA753;
            color: white;
            font-style: italic;

            svg {
                transform: rotate(10deg);
                transition: transform .15s;
            }
        }

        svg {
            position: absolute;
            top: 10px;
            right: 5px;
            height: 30px;
            width: 22px;

            transition: transform .15s;

            path {

                fill: white;

            }
        }

        &.clicked {
            background-color: #D75732;
            border: 2px solid #D75732;
            color: white;
            border-radius: 30px;
            padding: 8px 30px;
            animation: bounce-in .3s;
            cursor: default;


            svg {
                animation: flyaway 1.3s linear;
                top: -80px;
                right: -900px;

                path {
                    fill: #D75732;
                }
            }
        }
    }

    @keyframes flyaway {
        0% {
            transform: rotate(10deg);
            top: 13px;
            right: 25px;
            height: 30px;
        }

        5% {
            transform: rotate(10deg);
            top: 13px;
            right: 0px;
            height: 30px;
        }

        20% {
            transform: rotate(-20deg);
            top: 13px;
            right: -130px;
            height: 45px;
        }

        40% {
            transform: rotate(10deg);
            top: -40px;
            right: -280px;
            opacity: 1;
        }

        100% {
            transform: rotate(60deg);
            top: -200px;
            right: -1000px;
            height: 0;
            opacity: 0;
        }
    }

    @keyframes bounce-in {
        0% {
            padding-right: 30px;
        }

        40% {
            padding-right: 6px;
        }

        50% {
            padding-left: 30px;
        }

        100% {
            padding-left: 6px;
        }
    }

    .qustions {
        margin-top: 30px;

        span {
            margin-top: 30px;
            padding-top: 30px;
            font-weight: 700;
            font-size: 13px;
            color: #86996C;
            font-family: "Quattrocento Sans";
            letter-spacing: 1.8px;
        }

        h1 {
            margin: 10px 0px;
            font-weight: 500;
            font-size: 57.001px;
            color: #e2562d;
            font-family: "Cormorant Garamond";
            width: 80%;
            letter-spacing: 0.02em;
        }

        p {
            padding-bottom: 30px;
            margin-bottom: 30px;
            font-weight: 400;
            font-size: 17px;
            color: #cfc8b8;
            font-family: "Quattrocento Sans";
            letter-spacing: 0
        }
    }

    .mapsec {
        max-width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        padding: 30px 0px;
    }

    .contacts {
        padding: 30px 0px;
    }

    .country {
        display: flex;
        margin-top: 10px;

        .fa-solid {
            color: #86996C;
            font-size: 20px;
        }

        p {
            width: 200px;
        }

        span {
            margin-right: 5px;
        }
    }

}


@media screen and (max-width:501px) {
    #ourHistory {
        .historyimglittle {
            img {
                max-width: 50%;

            }
        }
    }
}

#ourHistory {
    background: url('https://toolbar.qodeinteractive.com/_toolbar/assets/img/rbt-placeholder.jpg');
    margin-bottom: 30px;
    padding: 30px;

    img {
        max-width: 100%;
    }

    .historyimg {
        position: relative;
        padding: 30px;
        margin-top: 30px;
        display: flex;
        align-items: end;
        justify-content: flex-end;

        .historyimglittle {
            position: absolute;
            margin-bottom: 30px;
            right: -40px;

            img {

                margin-top: 30px;
                padding-top: 30px;
                animation: float 4s linear infinite;
            }

            @keyframes float {

                0%,
                100% {
                    transform: translateY(0rem);
                }

                50% {
                    transform: translateY(-7rem);
                }
            }
        }
    }

    .historyText {
        padding-left: 30px;
        margin: 30px;

        h1 {
            padding: 30px 0px;
            font-weight: 400;
            font-size: 42px;
            color: #0d0a47;
            line-height: 49.14px;
            margin: 30px 0px;
            font-family: Caudex;
        }

        p {
            margin-bottom: 30px;
            font-weight: 400;
            font-size: 17px;
            color: #727272;
            line-height: 31.96px;
            font-family: Catamaran;
        }

        button {
            margin-top: 20px;
            font-weight: 700;
            font-size: 12px;
            cursor: pointer;
            color: #051356;
            border: solid #051356;
            background-color: white;
            line-height: 21.6px;
            transform: uppercase;
            font-family: Catamaran;
            letter-spacing: 2.4px;
            padding: 10px 30px;

            &:hover {
                background-color: #051356;
                color: white;
            }
        }
    }
}

@media screen and (max-width:501px) {
    #ourHistory {
        .historyimglittle,.historyimglittleone {
            img {
                max-width: 50%;

            }
        }
    }
}
#ourHistory {
    background: url('https://toolbar.qodeinteractive.com/_toolbar/assets/img/rbt-placeholder.jpg');
    margin-bottom: 30px;
    padding: 30px;

    img {
        max-width: 100%;
    }

    .historyimg {
        position: relative;
        padding: 30px;
        margin-top: 30px;
        display: flex;
        align-items: end;
        justify-content: flex-end;

        .historyimglittleone {
            position: absolute;
            margin-bottom: 30px;
            left: -40px;

            img {
                margin-top: 30px;
                padding-top: 30px;
                animation: float 4s linear infinite;
            }

            @keyframes float {

                0%,
                100% {
                    transform: translateY(0rem);
                }

                50% {
                    transform: translateY(-7rem);
                }
            }
        }
    }

    .historyText {
        padding-left: 30px;
        margin: 30px;

        h1 {
            padding: 30px 0px;
            font-weight: 400;
            font-size: 42px;
            color: #0d0a47;
            line-height: 49.14px;
            margin: 30px 0px;
            font-family: Caudex;
        }

        p {
            margin-bottom: 30px;
            font-weight: 400;
            font-size: 17px;
            color: #727272;
            line-height: 31.96px;
            font-family: Catamaran;
        }

        button {
            margin-top: 20px;
            font-weight: 700;
            font-size: 12px;
            cursor: pointer;
            color: #051356;
            border: solid #051356;
            background-color: white;
            line-height: 21.6px;
            transform: uppercase;
            font-family: Catamaran;
            letter-spacing: 2.4px;
            padding: 10px 30px;

            &:hover {
                background-color: #051356;
                color: white;
            }
        }
    }
}